
.idea/

data/FFPE/masks/

data/FFPE/patches/

data/FFPE/stitches/

data/FFPE/WSI/

data/FS/masks/

data/FS/patches/

data/FS/stitches/

data/FS/WSI/

ssh key/

data/testB/

data/trainA/

data/testA/

data/trainB/

data/valA/

data/valB/

pretrained_models/Brain/CUT/

pretrained_models/Brain/CycleGAN/

pretrained_models/Brain/FastCUT/

pretrained_models/
